.white {
  background-color: #fff;
}

.purple {
  background-color: #7700ff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splide__slide img {
	width : 100%;
	height: auto;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacer-header {
  aspect-ratio: 960/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/parting-small.svg");
  margin-top: 40px;
}

.spacer-footer {
  aspect-ratio: 960/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/parting-small.svg");
}

.parting-bottom {
  background-image: url("../images/parting-bottom.svg");
}

.parting-top {
  background-image: url("../images/parting-top.svg");
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

header nav ul li {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
}

.purple-text {
  color: #7700ff;
}

.white-text {
  color: #fff;
}

h2 {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}

p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

hr {
  border: 2px solid #7700ff;
  width: 100%;
  border-radius: 5px;
}

#home div img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 15%;
  height: auto;
}

#home div article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* html {
  scroll-behavior: smooth;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #7700ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #973bff;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block;
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap img {
  position: absolute;
  top: 0;
  left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #7700ff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #973bff;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #973bff;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-weight: bold;
  color: #7700ff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #7700ff;
  border: 2px solid #973bff;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .timeline-content {
  padding: 30px 90px 30px 30px;
  background: #7700ff;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .timeline-content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .timeline-content h2 {
  margin: 0 0 10px 0;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
}

.date {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
}

.container .timeline-content p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .timeline-content,
  .container.right .timeline-content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
